<h1>{{ title }}</h1>

<p class="lead">Split systems refer to a broad range of cooling and heating HVAC equipment featuring an outdoor unit connected to one or more indoor units via refrigerant piping and electrical lines. The outdoor units absorb or reject heat from the air to provide heating or cooling to the indoor unit. There are many types of split systems, allowing for flexible customization in both new construction and retrofits based on user-specific requirements. </p>
<img src="assets/images/ductless-indoor-split-photo.jpg" class="lead-img" alt="Indoor ductless split system on inside wall near ceiling. Photo by Stacy Buchanan, NLR.">
<p class="caption">
  <strong>Ductless indoor split system. </strong> Photo by Stacy Buchanan, NLR
</p>

  <div class="table-responsive mt-5 mb-1">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>System Type</th>
      <th>Description</th>
      <th>Advantages</th>
      <th>Disadvantages</th>
      <th>Click on Image to Enlarge</th>
    </tr>
 
  <tbody>
    <tr>
         <td>Single split</td>
      <td><ul><li>One outdoor unit connected to one indoor unit; designed to condition a single zone</li><li>Example: mini-split</li></ul></td>
      <td><li>Simple setup</li><li>Effective in small commercial spaces, electrical rooms, or server rooms</li></td>
      <td><li>Limited to small spaces with no ventilation air provided</li><li>May require installation of condensate drains</li></td>
      <td>       <a href="assets/images/mshp-2.jpg">
            <img src="assets/images/mshp-2.jpg" alt="Enlarge illustration of a mini-split system showing the outdoor unit with refrigerant lines going through the walls to the indoor unit on the inside wall near the ceiling. Illustration by Marjorie Schott, NLR">
          </a></td>
    </tr>
    <tr>
      <td>Multi split</td>
      <td><li>One or more outdoor units connected to multiple indoor units to alternatingly heat or cool multiple zones</li><li>Example: variable refrigerant flow (VRF) heat pump</li></td>
      <td><li>Individual temperature control in each zone</li><li>Effective in spaces with moderate sensible loads</li></td>
      <td><li>No ventilation air provided </li><li>Complex installation</li><li>Can have long refrigerant lines, leading to large refrigerant charges that increase the risk to users if a leak occurs</li></td>
      <td>   <a href="assets/images/mini-split-5-indoor.jpg">
            <img src="assets/images/mini-split-5-indoor.jpg" alt="Enlarge illustration of a multi-split system showing the outdoor unit with refrigerant lines going through the walls to multiple indoor units on the inside wall near the ceiling. Illustration by Marjorie Schott, NLR">
          </a></td>
    </tr>
    <tr>
      <td>VRF heat recovery</td>
     <td><li>One or more outdoor units connected to multiple indoor units to simultaneously heat or cool multiple zones</li></td>
      <td><li>Ability to heat and/or cool multiple zones simultaneously</li></td>
      <td><li>Complex system</li><li>Requires zone selector boxes distributed throughout the building</li></td>
      <td>   <a href="assets/images/vrf-profile2.jpg">
            <img src="assets/images/vrf-profile2.jpg" alt="Enlarge illustration of a VRF system showing an outdoor unit with piping through a three pipe to a heat recovery controller and then piping to multiple units that are heating or cooling sections of the building. Illustration by Marjorie Schott, NLR">
          </a></td>
    </tr>
    <tr>
      <td>Central split</td>
       <td><li>Single outdoor unit connected to an indoor air handler or furnace; distributes air to multiple spaces using ductwork</li><li>Example: centrally ducted systems</li></td>
      <td><li>Suited for whole-building climate control</li><li>Uniform cooling or heating across all spaces</li><li>Provided ventilation can enhance indoor air quality</li></td>
      <td><li>Complex installation</li><li>No zoned control without addition of zoning system</li></td>
      <td>   <a href="assets/images/CVS.jpg">
            <img src="assets/images/CVS.jpg" alt="Enlarge illustration of an outdoor AC unit with refrigerant lines going through the walls to the attic with an air handler in the attic and a duct taking cooled air into the room through a vent in the ceiling. Illustration by Marjorie Schott, NLR">
          </a></td>
    </tr>
  </tbody>
</table>
</div>
<p>Split systems are available with various options to meet user needs. Outdoor units can operate in cooling-only, heat pump, or simultaneous heating and cooling modes. Indoor units can be ductless, ducted, or paired with an air handler. Ductless options, such as ceiling cassettes, high wall mounts, or floor consoles, may be powered by the outdoor unit without a separate power connection. Ducted units such as standard and low-profile units typically require a dedicated power source.</p>
<h2>Applications</h2>
<p>Ductless split systems are commonly used to retrofit existing buildings with limited ceiling space or no existing ducting because their refrigerant piping is small. However, they can also be suitable in other situations depending on heating or cooling requirements, space limitations, and the required level of configuration.</p>
<p>Single-zone split systems can be used in areas that require year-round cooling in buildings (such as electrical and IT rooms). A multi-zone building with similar load profiles in each zone, such as offices along the same exterior wall, can be served by a standard multi-split or advanced variable refrigerant flow (VRF) system. The appropriate type of split system depends on cost constraints, space limitation, efficiency targets, control requirements, and desired scalability. </p>
<p>For multiple zones with varying load profiles, such as an office building with perimeter offices on more than one wall and interior rooms or open office space, a heat recovery VRF could be an appropriate option. It can transfer energy from warm zones to cool zones without returning the refrigerant to the outdoor unit.</p>
<p>Ductless split systems offer limited dehumidification and do not provide ventilation air. Therefore, they are rarely used in high-humidity spaces like gymnasiums or locker rooms. Multi-split systems are often combined with dedicated outdoor air systems, which are designed to provide conditioned ventilation air and can efficiently dehumidify outdoor air. Consult ASHRAE Standard 62.1 to identify specific ventilation requirements that lead to acceptable indoor air quality.</p>
<p>For climates that consistently experience very cold temperatures (e.g., below -10°F), low ambient split systems with flash injection technology—a special refrigerant circuit where cooler refrigerant is injected into the compressor, allowing it to run faster and more efficiently in extreme cold—or added auxiliary heating can meet the heating demand.</p>
<p>In climates with high outdoor air temperature, split systems can become less effective at rejecting heat. If the air temperature exceeds the equipment&apos;s published maximum operating temperature (e.g., above 125°F), the outdoor unit&apos;s cooling capacity must be derated.</p>

<h2>Energy Efficiency</h2>

<p>Split systems have several efficiency rating systems. Different rating systems measure performance under varying conditions, defined as follows:</p>

<h3>Cooling</h3>
<ul>
    <li><b>Energy efficiency ratio (EER):</b> measure of total cooling capacity based on the total energy input at a single temperature condition</li>
    <li><b>Seasonal energy efficiency ratio (SEER):</b> a ratio that represents the total cooling output of a system over a cooling season; only applicable to units with capacity &lt;65,000 BTU</li>
    <li><b>Integrated energy efficiency ratio (IEER):</b> the average energy efficiency of large commercial HVAC systems &lpar;capacity &gt;65,000 BTU/h&rpar; across multiple temperature and part load conditions</li>

</ul>

<h3>Heating</h3>
<ul>
    <li><b>Coefficient of performance (COP):</b> measure of heating capacity based on the total energy input at a single temperature condition</li>
    <li><b>Heating seasonal performance factor (HSPF):</b> a ratio that measures the heating efficiency of a heat pump throughout an entire heating season</li>
</ul>

<p>Minimum efficiency requirements are defined by the local energy code and vary by jurisdiction. Most jurisdictions base their energy code on either the International Energy Conservation Code or ASHRAE Standard 90.1. Both resources include tables that define minimum efficiency requirements for split systems.</p>

<h2>Key Considerations</h2>
<h3>Sizing</h3>
<p>The recommended approach for properly sizing a split system depends on the complexity of the overall system. Consult a design engineer with expertise in load calculations as part of any process. Factors like seasonal climate, zone square footage, ceiling height, window type and quantity, and insulation type all impact sizing. </p>
<p>Size a single-split system by determining the thermal load for the space and selecting unitary equipment that meet those loads. Size a simple muti-split system by first determining heating or cooling demand for each zone. Select indoor units that meet load requirements for each zone and note that individual indoor units may need to be sized differently based on variable room characteristics. The outdoor unit(s) will need to be sized for the entire building. Each manufacturer specifies a maximum allowable number of indoor units per outdoor unit, but outdoor units can be manifolded to provide greater total system capacity and allow more indoor units.</p>
<p>Complex multi-split and central-split systems should be sized by a professional. Reference the <a href="https://www.ashrae.org/technical-resources/ashrae-handbook/description-ashrae-handbook-hvac-systems-and-equipment">Handbook&mdash;HVAC Systems and Equipment</a> and <a href="https://webstore.ansi.org/standards/ashrae/ashraeguideline412023?srsltid=AfmBOoovqk7ryEOqC5_6OdMb6nD8o659CFI_cxJEpF51Cq6sBkc_4x08">ASHRAE Guideline 41&mdash;Design, Installation and Commissioning of Variable Refrigerant Flow Systems</a> for sizing guidance.</p>

<h3>Refrigerant Phaseout</h3>
<p>Common split system refrigerants such as R-410a and R-134a are being phased out. Existing systems are not required to change refrigerants, but mini-split and VRF systems with R-410a will no longer be sold after Jan. 1, 2025, or Jan. 1, 2026, respectively. Care should be taken in servicing legacy systems because older refrigerants may become more expensive for recharging, and existing equipment is not compatible with new refrigerants. Upgrading to the new generation of refrigerants such as R-32 or R-454b, which are classified as having low toxicity (A) and mild flammability (2L), will require completely new equipment.</p>

<h3>Location Restrictions</h3>
<p>When routing refrigerant piping through indoor spaces, it is important to consider the type of refrigerant in the system, building occupancy type, and the likelihood of oxygen displacement in the event of a leak. This is especially relevant for new VRF systems that contain a large volume of refrigerant and use A2L refrigerants. Key guidelines vary by location and component.</p>

<ul>
    <li><b>Machine room</b></li>
    <ul>
        <li>No permanent installation of open flame-producing devices or hot surfaces over 800°F in the room.</li>
        <li>Ventilation must be activated by the refrigerant detection system in the room and provide minimum exhaust rates based on federal or local guidelines.</li>
    </ul>
    <li><b>Piping and joints</b> </li>
    <ul>
        <li>Refrigerant pipes and tubes should conform to applicable ASTM standards.</li>
        <li>Materials, joints, and connections should be rated for the operating temperature and pressure of the refrigerant system</li>
    </ul>
    <li><b>Pipe installation</b></li>
      <ul>
        <li>Tubes located in concealed locations (such as in studs, joists, or rafters) must be continuously protected by steel shield plates.</li>
        <li>Refrigerant pipe shafts must be naturally or mechanically ventilated and incorporate a detector in the area where refrigerant leaks are most likely to accumulate.</li>
    </ul>
</ul>
<p><a href="https://store.accuristech.com/standards/ashrae-15-2024-packaged-w-standard-34-2024?product_id=2922394" >Standard 15&mdash;Safety Standards for Refrigeration Systems</a> and the <a href="https://codes.iccsafe.org/content/IMC2021V3.0/chapter-11-refrigeration" >International Mechanical Code</a> provide equations and guidance to help ensure that refrigerant-based systems are designed and installed safely.</p>

<h3>Distance adn Elevation Limits</h3>
<p>Split systems have limits on the vertical and overall distance between outdoor and indoor units. Limits vary by manufacturer, model, and system type. They are dependent on factors such as refrigerant pressure drop, oil return to the compressor, and system performance degradation. The allowable distance is measured in equivalent feet of refrigerant piping and is reduced based on the number of fittings used. </p>

<h3>Controls</h3>
<p>There are many options for split system control, including third-party add-ons and the option to connect to a building management system. The most common control types are listed below.</p>
<ul>
    <li>Manufacturer-provided wireless thermostat for local control (most common)</li>
    <li>Manufacturer-provided direct-wired thermostat for local control</li>
    <li>Third-party control integration with a building management system for central and/or remote access and control.</li>
</ul>

<h2>Procurement</h2>
<p>The first step in procuring a split system for a renovation is to investigate beneficial energy conservation measures that can reduce the size and capital cost of equipment as well as operating energy costs. This includes building weatherization such as sealing and weatherstripping air leaks in the building envelope or insulating attics, floors, and basements to the level recommended by the latest local energy code (for example, IECC,<a href="https://www.ashrae.org/technical-resources/bookstore/standard-90-1" >Standard 90.1</a> or ASHRAE Standard 189.1).</p>

<p>After incorporating energy conservation measures, evaluate heating and cooling loads before selecting the replacement split system. Properly sized HVAC equipment will offer a lower first cost and lower utility cost, operate more efficiently, enhance comfort, require less maintenance, and maximize the operating life of the system.</p>

<h2>Operation and Maintenance </h2>
<p>Operate and maintain split system equipment according to the manufacturer&apos;s recommendations for system longevity, energy efficiency, and improved occupant comfort. Operational best practices focus on keeping equipment running smoothly and should include:</p>
<ul>
    <li>Setting schedules and setpoints for each zone (for example, 76°F&ndash;78°F for cooling and 68°F&ndash;70°F for heating)</li>
    <li>Integrating equipment controls with the building automation system</li>
    <li>Monitoring unit performance, energy usage, and fault detection</li>
    <li>Training staff to ensure proper understanding and operation of equipment.</li>
</ul>
<p>Maintenance practices improve equipment reliability and minimize downtime caused by equipment failures. The table below provides a schedule of common maintenance tasks and recommended frequency. Tasks performed on a less frequent basis should be handled by certified professionals. The complexity of maintenance processes increases with system complexity, and advanced systems will require annual professional inspections beyond routine operation and maintenance practices.    </p>

<h3>Maintenance Practice</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Maintenance Task</th>
      <th>Recommended Frequency</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><ul>
        <li>Clean or replace air filter</li>
        <li>Inspect outdoor units for dirt or debris</li>
        <li>Check that condensate lines are clear</li>
    </ul>
    </td>
      <td>Monthly</td>
    </tr>
    <tr>
      <td>
        <ul><li>Check electrical connections for wear</li></ul></td>
      <td>Quarterly</td>
    </tr>
    <tr>
      <td><ul><li>Clean coils and blower fans</li></ul></td>
      <td>Semiannually</td>
    </tr>
    <tr>
      <td><ul><li>Check refrigerant levels</li><li>Test electrical components</li></ul></td>
      <td>Annually</td>
    </tr>
  </tbody>
</table>

<h2>Resources</h2>
<ul>
  <li><a href="https://webstore.ansi.org/standards/ashrae/ashraeguideline412023?srsltid=AfmBOoovqk7ryEOqC5_6OdMb6nD8o659CFI_cxJEpF51Cq6sBkc_4x08"> Installation and Commissioning of VRF Systems, Guideline 41-2023</a>, ASHRAE</li>
  <li><a href="https://www.ashrae.org/technical-resources/ashrae-handbook/description-ashrae-handbook-hvac-systems-and-equipment"> Systems and Equipment - Variable Refrigerant Flow, 2024 Handbook</a>, ASHRAE</li>
  <li><a href="https://www.achrnews.com/ext/resources/2020/November/Best-Practices-for-Cold-Climate-VRF-Applications-Mitsubishi-White-Paper.pdf"> VRF Systems in Cold-Climate Applications</a>, Mitsubishi Electric and Trane HVAC US</li>
  <li><a href="https://www.energy.gov/femp/incorporate-minimum-efficiency-requirements-heating-and-cooling-products-federal-acquisition">Minimum Efficiency Requirements for Heating and Cooling Products</a>, Federal Energy Management Program</li>
  <li><a href="https://www.ashrae.org/technical-resources/bookstore/standard-90-1">Energy Standards for Sites and Buildings</a>, Standard 90.1-2022, ANSI/ASHRAE</li>
  <li><a href="https://codes.iccsafe.org/content/IECC2021P1/chapter-4-ce-commercial-energy-efficiency">Energy Efficiency</a>, 2021 International Energy Conservation Code</li>
  <li><a href="https://codes.iccsafe.org/content/IMC2021V3.0/chapter-11-refrigeration">Refrigeration</a>, 2021 International Mechanical Code</li>
  <li><a href="https://store.accuristech.com/standards/ashrae-15-2024-packaged-w-standard-34-2024?product_id=2922394">Standard for Refrigeration Systems</a>, Standard 15-2024, ANSI/ASHRAE</li>
  <li><a href="https://store.accuristech.com/standards/ashrae-15-2024-packaged-w-standard-34-2024?product_id=2922394">Designation and Safety Classification of Refrigerants</a>, Standard 24-2024, ANSI/ASHRAE</li>
  <li><a href="https://www.pnnl.gov/projects/om-best-practices/unitary-hvac-equipment"> HVAC Equipment Operations and Maintenance</a>, Pacific Northwest National Laboratory</li>
  <li><a href="https://www.energy.gov/sites/prod/files/2020/04/f74/omguide_complete_w-eo-disclaimer.pdf">Operations &amp; Maintenance Best Practices</a>, Federal Energy Management Program</li>
</ul>
